@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
#status-board-app {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-size: 2.6rem;
  background: repeating-linear-gradient(45deg, #333333, #333333 15px, #444444 15px, #444444 30px);
}
#status-board-app .app-header {
  background-color: #f16924;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
#status-board-app .container {
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  padding: 0;
  background-color: #010101;
}
#status-board-app .widget {
  color: #ffffff;
  background-color: #333333;
  height: 240px;
  outline: 1px solid orange;
}
#status-board-app .row {
  margin-bottom: 0;
}
