@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
body {
  margin: 0;
  padding: 0;
  background-color: #010101;
}
.container {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.widget {
  margin-top: 28.8px;
  background-color: #efefef;
  opacity: 0.25;
  height: 240px;
}
