// app layout

body {
    margin: 0;
    padding: 0;
    background-color: @black;
}

.container {
    width: @app-width;
    height: @app-height;
    overflow: hidden;
}

.widget {
    margin-top: @app-gutter;
    color: @white;
    background-color: @dark-gray;
    height: 240px;
}
