@import "variables";

body {
    margin: 0;
    padding: 0;
    background-color: @p-dark-gray;
    font-size: @app-font-size;
    color: @p-white;
    background-color: @p-black;

    // NOTE - '.app-header' is part of components/announcements-widget

    .container {
        width: @app-width;
        height: @app-height;
        overflow: hidden;
        padding: 0;
        background-color: @p-black;

        .row {
            margin: 0;

            div {
                padding: 0;
            }
        }
    }
}

// for vertical tv layout
body.layout-tv-vertical {
    -webkit-transform: rotate(90deg);

    .container {
        width: 720px;
        height: 1280px;
        margin: 0;
    }
}