
//// Resolution Size /////////////////////////////////////////////////////
@app-width: 1080px;
@app-height: 1920px;

//// Calculated Heights /////////////////////////////////////////////////////
@widget-base-height: round(@app-height * 0.1825, 0);
@widget-half-height: round(@widget-base-height * 0.5);
@widget-flex-height: round(@app-height - (@widget-base-height * 5));

//// Color Pallete /////////////////////////////////////////////////////

// gray scale
@p-white:       #ffffff;
@p-light-gray:  #efefef;
@p-mid-gray:    #444444;
@p-dark-gray:   #333333;
@p-black:       #010101;

// general color pallete
@p-red:         #cc0000;
@p-orange:      #ff9900;
@p-yellow:      #ffcc00;
@p-green:       #33cc33;
@p-blue:        #0099ff;
@p-purple:      #993399;

// unique color pallete
@p-l4-orange:   #f16924;

//// Font Bases /////////////////////////////////////////////////////
@app-font-size: 2.6rem;

//// Mixins /////////////////////////////////////////////////////
