@import "../../../styles/variables";

@header-height: 20%;
@news-item-padding: 1%;
@news-item-height: 100% - @header-height - @news-item-padding;
@news-item-width: 100%;

.announcements-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: @p-dark-gray;
    overflow: visible;

    .app-header {
        background-color: @p-l4-orange;
        color: @p-white;
        text-align: center;
        font-weight: bold;
        font-size: @app-font-size * 0.9;
        height: @header-height;
    }

    #newsContainer {

        .item {
            position: relative;
            height: @news-item-height - @header-height;
            width: @news-item-width;
            text-align: center;
            vertical-align: top;
            padding: @news-item-padding;
            
        }

        .carousel-indicators {
            position: absolute;
            padding:0;
            left:0;
            right: @news-item-width;
            top:0;
            margin-left:0;
            text-align: right;
            width: 100%;
            height: @header-height;
            padding-right: @news-item-padding;
            margin-bottom: 0;

            li {
                border-color: @p-light-gray;

                &.active {
                    background-color: @p-white;
                }
            }
        }
    }
}