@import "../../../styles/variables";

@header-height: @widget-half-height;
@news-item-padding: 1%;
@news-item-height: @widget-half-height - @header-height;
@news-item-width: 100%;

.announcements-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: @p-dark-gray;
    overflow: visible;

    .app-header {
        background-color: @p-l4-orange;
        color: @p-white;
        text-align: center;
        font-weight: bold;
        font-size: @app-font-size * 0.9;
        display: inline-block;
        position: relative;

        .l4-logo {
            text-indent: -9999px;
            display: block;
            background-image:url("components/announcements/images/L4_Logo.svg");
            background-repeat: no-repeat;
            width: @app-font-size;
            left: 50%;
            top: ((@header-height - @app-font-size) / 6);
        }
    }

    #newsContainer {

        .item {
            position: relative;
            height: @news-item-height;
            width: @news-item-width;
            opacity: 0;

            // just here for a demo, will be removed
            .temp-count {
                color: @p-yellow;
                font-size: @app-font-size * 0.75;
            }

            .fa {
                font-size: @app-font-size * 3.5;
                float:left;
                padding: @news-item-padding * 2;
                isplay: table-cell; 
                vertical-align: middle;
                color: @p-l4-orange;
            }

            .short {
                font-size: @app-font-size * 1.5;
                display: table-cell; 
                vertical-align: middle; 
                height: @news-item-height;
            }

            .medium {
                font-size: @app-font-size;
                display: table-cell; 
                vertical-align: middle; 
                height: @news-item-height;
                padding-right: @news-item-padding * 6;
            }

            .long {
                font-size: @app-font-size * 0.75;
                line-height: @app-font-size;
                height: @news-item-height;
                display: table-cell; 
                vertical-align: middle; 
                padding-right: @news-item-padding * 5;
            }

            &.active {
                opacity: 1;
                .animate(opacity);
            }
        }

        .carousel-indicators {
            position: absolute;
            padding:0;
            left:0;
            right: @news-item-width;
            top: -@news-item-padding;
            margin-left:0;
            text-align: right;
            width: 100%;
            height: @header-height;
            padding-right: @news-item-padding;
            margin-bottom: 0;

            li {
                border: none;
                margin-left: @app-font-size / 6 ;
                background-color: @p-mid-gray;
                height: @app-font-size / 3;
                width: @app-font-size / 3;

                &.active {
                    background-color: @p-white;
                }
            }
        }
    }
}